<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="video"><img src="{{ url_for('video_feed') }}"></div>
        <div class="heading">
          <div class="heading-wrapper">
            <div class="div-wrapper"><div class="text-wrapper">Hand Sign Detection</div></div>
          </div>
        </div>
        <div class="tools">
          <div class="tools-2">
            <div class="libraries">
              <img class="scikit-learn" src="../static/scikit learn.png" />
              <img class="flask" src="../static/flask.svg" />
              <img class="img" src="../static/numpy.png" />
              <img class="img" src="../static/mediapipe.png" />
              <img class="open-cv" src="../static/open cv.png" />
              <img class="python" src="../static//python.svg" />
            </div>
            <img class="line" src="../static/line 1.svg" />
            <img class="line-2" src="../static/line 2.svg" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
